.features {
  display: flex;
  align-items: center;
  padding: 2rem 0 4rem;
  width: 100%;
}

.feature {
  height: 100%;
  padding: 1rem 1.5rem 1.5rem;
}

.feature h3 {
  margin-bottom: 0.5rem;
}

.feature p {
  margin-bottom: 0;
}
